* {
  box-sizing: border-box;
  font-family: inherit;
}

ul {
    list-style-type: none;
}

body {
  margin: 0;
}

:root {
  --main-white: #fff;
  --black-100: #111;
  --gray-500: #E5E5E5;
  --gray-400: #CCCCCC;
  --gray-300: #F5F5F5;

}

.container {
  padding: 0 48px;
}
