.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sliderWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
 margin: 0;
 font-size: 22px;
 font-weight: 500;
}

.sliderTitle {
  margin: 0;
  margin-right: 13px;
  font-size: 15px;
  font-weight: 500;
}

.leftBtn {
  position: relative;
  margin-right: 13px;
}

.leftArrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(180deg);
}

.rightBtn {
  position: relative;
}

.rightArrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

